typescript/package-lock.json
typescript/package.json
typescript/node_modules/.package-lock.json
typescript/node_modules/@types/uuid/index.d.mts
typescript/node_modules/@types/uuid/index.d.ts
typescript/node_modules/@types/uuid/LICENSE
typescript/node_modules/@types/uuid/package.json
typescript/node_modules/@types/uuid/README.md
